// colors
$greenSeafoam: #19C4AC;
$blueAqua: #18BAE2;
$cyan: #0C6A81;
$orangeBurnt: #DA5C14;
$black1: #343537;
$black2: #393939;
$charcoal: #55585d;
$gunmetal: #7C8087;
$gray: #DDE0E3;
$gray2: #CDD0D4;
$gray3: #878787;
$smoke: #FCFDFD;
$white: #fff;

// screen sizes
$screenMD: 768px;
$screenLG: 1024px;
$screenXL: 1440px;

