@import "../../../../assets/scss/vars.scss";
@import "../../../../assets/scss/btns.scss";

.wrapActions {

    @media (min-width: $screenLG) {
        padding-bottom: 30px;
    }

    button {
        margin-top: 8px;

        @media (min-width: $screenMD) {
            margin-top: 16px;
        }

        &:first-child {
            margin-right: 5px;
        }
    }
}