<div class="wrapDetails">
  <section class="eventDetails">
    <p>{{ (items | async)?.det1 }}</p>
    <p>{{ (items | async)?.det2 }}</p>
    <p>{{ (items | async)?.det3 }}</p>
    <p>{{ (items | async)?.det4 }}</p>
    <p><a href="#">{{ (items | async)?.link }}</a></p>
    <p>{{ (items | async)?.det1 }}</p>
    <div>You can also use your phone. <div>United States&#58; &#43;{{ (items | async)?.phone }}</div></div>
    <div class="accessCode">Access Code&#58; {{ (items | async)?.accessCode }}</div>
  </section>
</div>
